.fileList {
  padding: 20px;
}

.fileTable {
  width: 90%;
  border-collapse: collapse;
  table-layout: fixed;
}

.fileTable th, .fileTable td {
  border: 1px solid #ddd;
  padding: 16px; 
}

.fileTable th {
  background-color: #0b4588; 
  color: white; 
  text-align: center;
}

.fileTable tr:nth-child(even) {
  background-color: #f9f9f9; 
}

.fileTable tr:nth-child(odd) {
  background-color: #ffffff; 
}

.fileTable tr:hover {
  background-color: #ddd; 
}

.fileTable button {
  padding: 5px 10px;
  background-color: #1090c2;
  color: white;
  border: none;
  cursor: pointer;  
  border-radius: 5px;
  font-weight: bold;  
  margin: 5px;
}

.fileTable button:hover {
  background-color: #0c6285;  
}

.titulo {
  font-size: 24px;
  margin-bottom: 20px;
  color: #6b6b6b
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 90%;
}

.headerContent button {
  padding: 10px 20px;
  background-color: #0b4588;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  height: 40px;
  font-weight: bold;
}

.headerContent button:hover {
  background-color: #052f5f;
}

.fileTable td:last-child {
  text-align: center;  
}