.barraNavegacao {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f8f8f8;
  padding: 10px;
}


.buttonMenuLateral {
  background-color: #ffffff;
  border: none;
  padding: 10px;  
  margin-right: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.buttonMenuLateral:hover {
  cursor: pointer;
  background-color: #e0e0e0;
}

.mainContainer {
  display: flex;
  position: absolute;
}

.mainContent {
  flex-grow: 1;
  padding: 20px;
  margin-left: 20px;
  transition: margin-left 0.3s;
}

.rotaBase {
  color: #052f5f;
}

.rotaAtual {
  color: #858585;
}

