.barraNavegacao {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f8f8f8;
  padding: 10px;
}

.menuLateral {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 60px;
  transition: width 0.3s;
  height: 100vh; 
  border-right: 1px solid #ccc; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menuLateral.expandido {
  width: 250px;

  .menuItem {
    justify-content: space-between;
  }
}

.menuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
  color: #858585;
}

.menuItem:hover {
  background-color: #e0e0e0;  
  color: #052f5f;
  font-weight: bold;
  
  .menuIcon {
    color: #052f5f;
  }
}

.menuIcon {
  color: #858585;
}

.menuIcon:hover {
  color: #052f5f;
}

.menuTexto {
  display: none;
}

.menuLateral.expandido .menuTexto {
  display: inline;
}

.buttonMenuLateral {
  background-color: #ffffff;
  border: none;
  padding: 10px;  
  margin-right: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.buttonMenuLateral:hover {
  cursor: pointer;
  background-color: #e0e0e0;
}

@media (max-width: 768px) {
  .menuLateral.expandido {
    display: flex;
  }
  .menuLateral {
    display: none;
  }
}